<template>
    <div >
        
         <section class="first-screen">
                <div class="first-screen__main wrapper">
                    <div class="first-screen__max">
                        <div class="first-screen__content">
                            <div class="first-screen__cell">
                                <span class="above-title">ứng dụng tiên ích</span>
                                <h1 class="first-screen__title">NỀN TẢNG SỐ HÓA QUẢN LÝ GIÁO DỤC</h1>
                                <p class="first-screen__text"> Mobile Android/Ios, Liên kết hệ thống trường, Ứng dụng
                                    mạng xã hội chuyên biệt
                                </p>
                                <a class="first-screen__button button" href="#">
                                    <span class="button__text">Xem Thêm</span>
                                </a>
                            </div>
                        </div>
                        <!-- <img class="first-screen__phone" data-lazy="{{url('web')}}/assets/images/website/Group9.png" alt="" data-lazy-mob> -->
                        <img class="first-screen__elements"
                            src="../assets/img/images/website/Group11.png" alt="" data-lazy-mob>
                    </div>
                </div>
                <div class="first-screen__pseudotext" data-title="NỀN TẢNG SỐ HÓA QUẢN LÝ GIÁO DỤC"></div>
                <!-- <div class="first-screen__bg-1" data-bg="{{url('web')}}/assets/img/first-screen-bg.jpg" data-lazy-mob></div> -->
                <div class="first-screen__bg-2" src="../assets/img/images/first-screen-bottom.png"
                    data-lazy-mob></div>
        </section> 
           <article class="most-popular">
                    <div class="most-popular__main wrapper">
                        <div class="most-popular__cols">
                            <div class="most-popular__left">
                                <h2 class="most-popular__title main-title main-title_align-left"
                                    data-title="Quản lý học sinh">
                                    <span class="main-title__text">Quản lý học sinh</span>
                                </h2>
                                <p class="most-popular__text">Dễ dàng xem lịch báo giảng, danh bạ giáo viên</p>
                                <ul class="check-list">
                                    <li class="check-list__item">Tức thời nắm bắt các thông tin của trường theo năm học:
                                        Tổng số giáo viên/học sinh, tình hình học tập, rèn luyện của học sinh, tình hình
                                        thu tiền học, tình hình sử dụng thư viện, thiết bị…
                                        Chia sẻ tin tức, sự kiện, thông báo quan trọng với cán bộ, giáo viên, phụ huynh
                                        trong phạm vi nội bộ nhà trường, nhận được các tương tác, bình luận.</li>
                                    <li class="check-list__item">Theo dõi sổ chủ nhiệm, ghi sổ đầu bài, sổ điểm cá nhân,
                                        tổng kết cuối kỳ.</li>
                                    <li class="check-list__item">Trao đổi trực tiếp với một phụ huynh hoặc nhiều phụ
                                        huynh; nhận được các thông báo quan trọng của Trường.</li>
                                </ul>
                            </div>
                            <div class="most-popular__right">
                                <img class="most-popular__image "
                                    src="../assets/img/images/website/Group10.png" alt="">
                            </div>
                        </div>
                    </div>
                    <img class="most-popular__left-element side-element"
                        src="../assets/img/images/svg/side-element_2.svg" alt="">
             </article>  <!-- THE MOST POPULAR END -->
              <article class="most-popular">
                    <div class="most-popular__main wrapper">
                        <div class="most-popular__cols">
                            <div class="most-popular__right">
                                <h2 class="most-popular__title main-title main-title_align-left"
                                    data-title="Quản lý thanh toán">
                                    <span class="main-title__text">Quản lý thanh toán</span>
                                </h2>
                                <p class="most-popular__text">Tức thời nhận được thông báo đóng tiền học; tình hình đóng
                                    tiền học của con mình.</p>
                                <ul class="check-list">
                                    <li class="check-list__item">Thanh toán tiền học trực tuyến và nhận hóa đơn điện tử.
                                    </li>
                                    <li class="check-list__item">Thông báo tức thời đến phụ huynh các mức phí, tình hình
                                        đóng tiền học của con mình.</li>
                                    <li class="check-list__item"> Nhanh chóng xác nhận được phụ huynh đã đóng tiền và
                                        ngay lập tức gửi hóa đơn điện tử tiền học cho phụ huynh.
                                    </li>
                                </ul>
                            </div>
                            <div class="most-popular__left">
                                <img class="most-popular__image"
                                     src="../assets/img/images/website/Group9.png" alt="">
                            </div>
                        </div>
                    </div>
                    <img class="most-popular__left-element side-element"
                         src="../assets/img/images/svg/side-element_2.svg" alt="">
                </article> 
                 <section class="what-you-get">
                    <div class="what-you-get__main wrapper">
                        <h3 class="main-title" data-title="Những tiện ích của chúng tôi" id="features">
                            <span class="main-title__text">Những tiện ích của chúng tôi</span>
                        </h3>
                        <div class="features">
                            <article class="feature">
                                <div class="feature__bg"> <img class="feature__image"
                                        src="../assets/img/images/website/pm2.png" alt="">
                                    <div class="feature__content">
                                        <h4 class="feature__title">Dễ dàng xem lịch báo giảng,dạnh bạ giáo viên</h4>
                                        <p class="feature__text">tình hình học tập, rèn luyện của học sinh, tình hình
                                            thu tiền học, tình hình sử dụng thư
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article class="feature">
                                <div class="feature__bg">
                                    <img class="feature__image"  src="../assets/img/images/website/pm1.png"
                                        alt="">
                                    <div class="feature__content">
                                        <h4 class="feature__title">Thanh toán tiền học trực tuyến</h4>
                                        <p class="feature__text">Thông báo tức thời đến phụ huynh các mức phí, tình hình
                                            đóng tiền học của con mình, nhận hóa đơn điện tử.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="feature">
                                <div class="feature__bg"> <img class="feature__image"
                                        src="../assets/img/images/website/pm3.png" alt="">
                                    <div class="feature__content">
                                        <h4 class="feature__title"> kết nối giữa các trường và bộ giáo dục của thành phố
                                        </h4>
                                        <p class="feature__text">Theo dõi sổ chủ nhiệm, ghi sổ đầu bài, sổ điểm cá nhân,
                                            tổng kết cuối kỳ, nhận được các thông báo quan trọng của Trường.</p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <img class="what-you-get__right-element side-element"
                        src="../assets/img/images/svg/side-element_1.svg" alt="">
                </section> 
            <!-- <section class="presentation-block">
                <div class="presentation-block__main wrapper">
                    <h3 class="presentation-block__title main-title main-title_white" data-title="XEM GIAO DIỆN"
                        id="ui">
                        <span class="main-title__text">XEM GIAO DIỆN</span>
                    </h3>
                    <div class="ui-slider js-slider">
                        <div class="ui-slider__arrows arrows-1 js-slider-arrows"> </div>
                        <div class="ui-slider__all">
                            <div class="ui-slider__list-wrap js-slider-loader loaded">
                                <div class="ui-slider__list js-slider-list">
                                    <div class="ui-slider__item js-slider-item">
                                        <div class="ui-slider__image-wrap">
                                            <img class="ui-slider__image"
                                                src="../assets/img/images/website/phonex2.png" alt="">
                                        </div>
                                    </div>
                                    <div class="ui-slider__item js-slider-item">
                                        <div class="ui-slider__image-wrap"> <img class="ui-slider__image"
                                                src="../assets/img/images/website/phonex1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="ui-slider__item js-slider-item">
                                        <div class="ui-slider__image-wrap"> <img class="ui-slider__image"
                                                 src="../assets/img/images/website/phonex2.png" alt="">
                                        </div>
                                    </div>
                                    <div class="ui-slider__item js-slider-item">
                                        <div class="ui-slider__image-wrap"> <img class="ui-slider__image"
                                                 src="../assets/img/images/website/phonex3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="ui-slider__item js-slider-item">
                                        <div class="ui-slider__image-wrap"> <img class="ui-slider__image"
                                                src="../assets/img/images/website/phonex1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="ui-slider__item js-slider-item">
                                        <div class="ui-slider__image-wrap"> <img class="ui-slider__image"
                                                 src="../assets/img/images/website/phonex2.png" alt="">
                                        </div>
                                    </div>
                                    <div class="ui-slider__item js-slider-item">
                                        <div class="ui-slider__image-wrap"> <img class="ui-slider__image"
                                                 src="../assets/img/images/website/phonex3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="ui-slider__item js-slider-item">
                                        <div class="ui-slider__image-wrap"> <img class="ui-slider__image"
                                                src="../assets/img/images/website/phonex1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="ui-slider__item js-slider-item">
                                        <div class="ui-slider__image-wrap"> <img class="ui-slider__image"
                                                 src="../assets/img/images/website/phonex2.png" alt="">
                                        </div>
                                    </div>
                                    <div class="ui-slider__item js-slider-item">
                                        <div class="ui-slider__image-wrap"> <img class="ui-slider__image"
                                                src="../assets/img/images/website/phonex3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="ui-slider__item js-slider-item">
                                        <div class="ui-slider__image-wrap"> <img class="ui-slider__image"
                                                src="../assets/img/images/website/phonex1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="ui-slider__item js-slider-item">
                                        <div class="ui-slider__image-wrap"> <img class="ui-slider__image"
                                                src="../assets/img/images/website/phonex2.png" alt="">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="presentation-block__bg"></div>
            </section>  -->
             <div class="responses-block">
                <div class="responses-block__main wrapper js-slider">
                    <div class="responses-block__cols">
                        <div class="responses-block__left">
                            <h3 class="responses-block__title main-title main-title_align-left"
                                data-title="Ý kiến khách hàng" id="testimonials"> <span class="main-title__text">Ý
                                    kiến khách hàng
                                </span> </h3>
                        </div>
                        <div class="responses-block__right arrows-2 js-slider-arrows"></div>
                    </div>
                    <div class="responses js-slider-loader loaded">
                        <div class="responses__list js-slider-list js-slider-news js-cols">
                            <div class="responses__item js-slider-item">
                                <div class="responses__bg">
                                    <blockquote class="responses__quote">
                                        <p class="responses__text js-col">App giúp tôi quản lý việc chi tiêu và điểm
                                            số của con dễ dàng</p>
                                        <footer class="respondent">
                                            <div class="respondent__col"> <img class="respondent__image"
                                                   src="../assets/img/images/author_1.png" alt="">
                                            </div>
                                            <div class="respondent__col"> <span class="respondent__name">Phụ huynh
                                                    em Nguyễn Anh Bằng (Lớp 8)
                                                </span> </div>
                                        </footer>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="responses__item js-slider-item">
                                <div class="responses__bg">
                                    <blockquote class="responses__quote">
                                        <p class="responses__text js-col">Bé nhà mình chuẩn bị vào lớp 1. Đây thực
                                            sự là một app hữu dụng và triển vọng. Từ việc tuyển sinh cho bé vào lớp
                                            1 và vượt cấp đều rất thuận tiện. Mình yên tâm hơn về việc quản lí con
                                            và kết nối với nhà trường</p>
                                        <footer class="respondent">
                                            <div class="respondent__col"> <img class="respondent__image"
                                                   src="../assets/img/images/author_2.png" alt="">
                                            </div>
                                            <div class="respondent__col"> <span class="respondent__name">Phụ huynh
                                                    bé Hoàng Thảo My (Lớp 1)</span> </div>
                                        </footer>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="responses__item js-slider-item">
                                <div class="responses__bg">
                                    <blockquote class="responses__quote">
                                        <p class="responses__text js-col">Nam chuẩn bị tốt nghiệp thì chúng tôi mới
                                            biết đến platform thú vị thế này. Hy vọng app sẽ phát triển rộng rãi cho
                                            nhiều cấp tại nhiều trường, để giúp nhiều gia đình quản lý các con. Cảm
                                            ơn Okuro
                                        </p>
                                        <footer class="respondent">
                                            <div class="respondent__col"> <img class="respondent__image"
                                                   src="../assets/img/images/author_1.png" alt="">
                                            </div>
                                            <div class="respondent__col"> <span class="respondent__name">Phụ huynh
                                                    bạn Trương Văn Nam (Lớp 12)</span> </div>
                                        </footer>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="responses__item js-slider-item">
                                <div class="responses__bg">
                                    <blockquote class="responses__quote">
                                        <p class="responses__text js-col">Bé nhà mình chuẩn bị vào lớp 1. Đây thực
                                            sự là một app hữu dụng và triển vọng. Từ việc tuyển sinh cho bé vào lớp
                                            1 và vượt cấp đều rất thuận tiện. Mình yên tâm hơn về việc quản lí con
                                            và kết nối với nhà trường</p>
                                        <footer class="respondent">
                                            <div class="respondent__col"> <img class="respondent__image"
                                                   src="../assets/img/images/author_2.png" alt="">
                                            </div>
                                            <div class="respondent__col"> <span class="respondent__name">Phụ huynh
                                                    bạn Trương Văn Nam (Lớp 12)</span> </div>
                                        </footer>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="responses__item js-slider-item">
                                <div class="responses__bg">
                                    <blockquote class="responses__quote">
                                        <p class="responses__text js-col">App giúp tôi quản lý việc chi tiêu và điểm
                                            số của con dễ dàng</p>
                                        <footer class="respondent">
                                            <div class="respondent__col"> <img class="respondent__image"
                                                   src="../assets/img/images/author_2.png" alt="">
                                            </div>
                                            <div class="respondent__col"> <span class="respondent__name">Phụ huynh
                                                    bé Hoàng Thảo My (Lớp 1)</span> </div>
                                        </footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <img class="responses-block__left-element side-element"
                   src="../assets/img/images/svg/side-element_2.svg" alt="">
            </div>
            
    </div>
    
</template>
<script>

export default {
    name : 'app3'
}
</script>
<style >
    
</style>