<template>
    <div class="app4">
       
    <!-- BEGIN SUBSCRIPTION -->
            <!-- <div class="subscription wrapper" id="faq">
                <div class="subscription__bg">
                    <div class="contact_user">
                        <div class="p2" style="justify-content: center;margin-top: 20px;">
                            <img class="img1" src="../assets/img/images/Website/1234.png" alt=""
                                style="margin-bottom: 0;">
                            <span style="font-weight: bold;    font-size: 15px;">Công Ty Cổ Phần Dolphin Solutions</span>
                        </div>
                        <p class="p1" style="padding-bottom: 0;">
                            <img src="../assets/img/images/Website/message.svg" alt=""> Email:
                            <a href="mailto:support@dolphinsolutions.vn">support@dolphinsolutions.vn</a>
                        </p>
                        <p class=" p3" style="padding-bottom: 0;"><img src="../assets/img/images/Website/call.svg"
                                alt=""> Phone:<a href="tel:02822017633"> 028 2201 7633</a>
                        </p>
                        <p class="p4" style="padding-bottom: 0;"><img src="../assets/img/images/Website/work.svg"
                                alt="">
                            Address: 169 Trương Văn Bang, phường Thạnh
                            Mỹ Lợi, quận 2,
                            TP.HCM</p>
                    </div>
                    <div class="subscription__max">
                        <span class="above-title">Liên hệ</span>
                        <span class="subscription__title">Gửi tin nhắn cho chúng tôi</span>
                        <form id="form-contact" method="post" action="{{route('send-contact')}}">
                            <div class="subscribe" style=" display: inherit;">
                                <div class="subscribe__left">
                                    <input class="subscribe__input text-input" id="name" name="name" type="text"
                                        placeholder="Tên của bạn">
                                    <span class="name error-text hidden">Họ và tên của bạn</span>
                                </div>
                                <div class="subscribe__left">
                                    <input class="subscribe__input text-input" id="email" name="email" type="email"
                                        placeholder="Email của bạn">
                                    <span class="email error-text hidden">Nhập email của bạn</span>
                                </div>
                                <div class="subscribe__left">
                                    <input class="subscribe__input text-input" id="phone" name="phone" type="text"
                                        placeholder="Số điện thoại">
                                    <span class="phone error-text hidden">Nhập số điện thoại</span>
                                </div>
                                <div class="subscribe__left">
                                    <textarea class="subscribe__input text-input" name="message" id="message"
                                        placeholder="Tin nhắn" required></textarea>
                                    <span class="message error-text hidden">Nhập nội dung</span>
                                </div>
                                <div class="subscribe__right" style="padding-left: 0;">
                                    <button class="subscribe__button button" id="send-contact">
                                        <span class="button__text">Gửi tin</span>
                                    </button>
                                </div>
                            </div>
                            @csrf
                        </form>
                    </div> <img class="subscription__envelope" src="../assets/img/images/svg/subscription.svg" alt="">
                </div>
            </div> -->
            <!-- SUBSCRIPTION END -->
            <div class="footer-top wrapper"> <a class="footer-logo" href="#">Upland</a>
                <div class="footer-nav">

                    <ul class="main-nav">
                            <li class="main-nav__item"> <a class="main-nav__link js-scrolltoid" href="#features">Features</a> </li>
                            <li class="main-nav__item"> <a class="main-nav__link js-scrolltoid" href="#download">Download app</a> </li>
                            <li class="main-nav__item"> <a class="main-nav__link js-scrolltoid" href="#ui">UI
                                    screens</a> </li>
                            <li class="main-nav__item"> <a class="main-nav__link js-scrolltoid" href="#testimonials">Testimonials</a> </li>
                            <li class="main-nav__item"> <a class="main-nav__link js-scrolltoid" href="#faq">FAQ</a>
                            </li>
                            <li class="main-nav__item"> <a class="main-nav__button js-scrolltoid" href="#trial">Free
                                    trial</a> </li>
                        </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom__main wrapper"> <span class="copyrights">&copy; Bản quyền thuộc về <a
                            href="https://dolphinsolutions.vn/" target="_blank"> Dolphin Solutions
                            JSC</a>
                    </span> </div>
            </div>
            <div class=" footer__bg" data-bg="" src="../assets/img/images/footer-bg.png"></div>
        <!-- <div class="modal fade" id="ignismyModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="thank-you-pop">
                            <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
                            <h1>Cảm ơn!</h1>
                            <p>Chúng tôi đã nhận được nội dung bạn gửi và chúng tôi sẽ sớm liên hệ lại bạn</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  -->
       
    </div>
</template>
<style scoped>
.contact_user p {
    margin-bottom: 0px;
    padding-bottom: 0;
    justify-content: center;
    float: revert;
    margin-left: 8px;
}

.contact_user p img {
    float: left;
    width: 6%;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 7px;
    margin-right: 10px;
}
</style>