<template>
    <div class="app1">
       <header class="header">
    <div class="header__cols">
        <div class="header__left">
            <div class="header__inner-cols">
                <div class="header__inner-col header__inner-col_mob"> <button class="mob-button js-mob-open">
                        <span class="mob-button__icon"></span> </button> </div>
                <div class="header__inner-col"> <a class="header-logo" href="#"> <img class="header-logo__image" src="../assets/img/images/log.png" alt=""> </a> </div>
            </div>
        </div>
        <div class="header__center js-from-1">
            <div class="header-mob js-content-1">
                <ul class="main-nav">
                    <li class="main-nav__item"> <a class="main-nav__link js-scrolltoid" href="#features">Features</a> </li>
                    <li class="main-nav__item"> <a class="main-nav__link js-scrolltoid" href="#download">Download app</a> </li>
                    <li class="main-nav__item"> <a class="main-nav__link js-scrolltoid" href="#ui">UI
                            screens</a> </li>
                    <li class="main-nav__item"> <a class="main-nav__link js-scrolltoid" href="#testimonials">Testimonials</a> </li>
                    <li class="main-nav__item"> <a class="main-nav__link js-scrolltoid" href="#faq">FAQ</a>
                    </li>
                    <li class="main-nav__item"> <a class="main-nav__button js-scrolltoid" href="#trial">Free
                            trial</a> </li>
                </ul>
            </div>
        </div>
        <div class="header__right js-from-2">
            <div class="header-mob js-content-2"> <a class="header-tel" href="tel:+17426584122">+1 742 65 84
                    122</a> </div>
        </div>
    </div>
</header>
    </div>
</template>
<script>
export default {
    name: 'App1'
}
</script>
<style scoped>
    
</style>